body {
  font-family: 'Computer Modern Serif';
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
}

button {
  font-family: 'Computer Modern Bright';
  padding: 16px 24px;
  font-size: 18px;
}